<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">

    <title>Color Battle</title>
    <script>

    </script>
</head>

<body>

    <%- include('parts/header') %>
    <input id="myColor" type="color" name="myColor">
    <table id="colortable">
        <ul>
            <% for (const property in colorBattleAll) { %>
            <li>
                <a href="/colorbattle/<%= colorBattleAll[property].id %>">Colorbattle
                    n°<%= colorBattleAll[property].id %></a> </li> <% } %>
            <li><a href="/colorBattlenew/">Nouveau jeu</a></li>
        </ul>
        </script>
        <script>
            console.log("<%=colorBattleAll%>")
        </script>
</body>

</html>