<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/style.css">

        <title><%= film.titre %></title>
    </head>
    <body>
        
        <%- include('parts/header') %> 

        <h2><%= film.titre %></h2>
        <p> <%= film.resum %>  </p>

    </body> 
</html>